- 
	var data = [
		{
			text: 'Homepage', 
			attr: { href: '/', title: 'back to homepage' }
		}, 
		{
			text: 'Kreator online', 
			attr: { href: '/links', title: 'links to band online presence' }
		}, 
		{
			text: 'Kreator news', 
			attr: { href: '/news', title: 'what is happening: the latest' }
		}, 
		{
			text: 'Kreator live', 
			attr: { href: '/dates', title: 'upcoming tour dates and more...' }
		}, 
		{
			text: 'Kreator merch', 
			attr: { href: '/merch', title: 'stores that sell official merch' }
		}
	];
- var n = data.length;
- var s = 'Kreator info page';

mixin navi(excl = -1)
	nav
		- for(var i = 0; i < n; i++)
			- if(i !== excl)
				- var c = data[i], a = c.attr;
				a(href=a.href title=a.title) #{c.text}

doctype html
html(lang="en")
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		block title
		link(rel="stylesheet" href="/css/main.css")

	body
		header
			block header			

		main
			block content

		footer
			p Made with â¤ï¸ in ðŸ‡ªðŸ‡º.
			p We don't track you!
			p If anything here is incorrect/ incomplete/ outdated, please let us know.
