extends templ/_page.pug

block title
	title #{s}

block header
	h1 Kreator: practical info
	+navi(0)

block content
	section.card__wrap
		article.card.card--pastel
			h2 What in Satan's name is this?
			p It's a page with hopefully useful, practical, up to date info about the kings of thrash metal, Kreator. Made for fans, by fans. More about the why and how.
		article.card.card--pastel
			h2 What are Kreator up to these days?
			p Other than coming out with full force out of the speakers and restyling our hair into something wild? You can check out the latest news!
		article.card.card--pastel
			h2 Where can I find the band online?
			p Many places! We keep a list of their online presence, go check them out on your platform of choice!
		article.card.card--pastel
			h2 When are Kreator coming to my city?
			p Hopefully sooner rather than later? We don't have a crystal ball, but we have made an upcoming dates list.
		article.card.card--pastel
			h2 Where can I buy official merch?
			p Many places! You can check out this list of stores. No affiliation, just a collection of links that were shared via official channels at one point or another.
