extends /templ/_page.pug

block title
	title Kreator news | #{s}

block header
	h1 Kreator: latest news
+navi(2)

block content
	section
		article
			h2 New album details and new video - Hate Über Alles!
			p Watch video, find out when the album comes out, where to buy it from and more...
