extends /templ/_page.pug

block title
	title The "fan" accounts scam | #{s}

block header
	.min-full
		h1 Extensive scam network disguised as seemingly unrelated "fan" accounts
		span.attr an investigation by a bunch of meddling fangirls
		p Everyone has so little patience these days, which is probably why so many people fall for this: they just don't have the patience to look at bios, post descriptions, details in what gets posted. So we're jumping straight into the essential.

block content
	section.min-full
		h2 An illustrated guide of warning signs
		div
	section.min-full
		h2 The many "fan" accounts run by the same entity
	section.min-full
		h2 The websites
		p We found a few of them
		ul
			li Rock Tee
	section.min-full
		h2 What we did
	section.min-full
		h2 What can still be done
