- 
	var site_data = [
		{ name: 'Rock Tee', url: 'https://rocktee.net/' }, 
		{ name: 'iTee Global', url: 'https://iteeglobal.com/' }, 
		{ name: 'iTees Global', url: 'https://iteesglobal.com/' }, 
		{ name: 'iTee Global', url: 'https://iteeglobal.com/' }, 
		{ name: 'Marble Tees', url: 'https://marbletees.com/' },
		{ name: 'All Tee Legends', url: 'http://allteelegends.com' }, 
		{ name: 'White Lion Store', url: 'https://www.whitelionstore.com/' }, 
		{ name: 'Fans Store', url: 'https://www.fans-store.shop/' }, 
		{ name: 'Manto Designs', url: 'https://manto-designs.com/' }, 
		{ name: 'Manto Store', url: 'https://mantostore.com/' }, 
		{ name: 'Liberteeee', url: 'https://liberteeee.com/' }, 
		{ name: 'Viralstyle', url: 'https://viralstyle.com/' }, 
		{ name: 'The Moon Tee', url: 'https://themoontee.com/' }, 
		{ name: 'Lataliti Store', url: 'https://www.latalitistore.com/' }
	];
-
	var cunt_data = [
		{ for: 'Accept', user: 'accept__fans', stat: 'active', site: 0, suckers: 3704, targets: 6644 }, 
		{ for: 'AC/DC', user: 'ac_dc.new', stat: 'active', site: 0, suckers: 31013, targets: 6768 }, 
		{ for: 'Aerosmith', user: 'aero_smith__fan', stat: 'active', site: 0, suckers: 130580, targets: 6654 }, 
		{ for: 'Alice Cooper', user: 'alicecooper_lovers2s', stat: 'active', site: 0, suckers: 7357, targets: 6862 }, 
		{ for: 'Alpaca', user: 'alpaca__biglove', stat: 'active', site: 9, suckers: 7435, targets: 4410 }, 
		{ for: 'Amaranthe', user: 'amaranthe__fanclub', stat: 'active', site: 0, suckers: 3172, targets: 6237 }, 
		{ for: 'Anthrax', user: 'anthrax.lovess2', stat: 'active', site: 0, suckers: 4650, targets: 6752 }, 
		{ for: 'Anthrax', user: 'anthrax_fans3', stat: 'active', site: 0, suckers: 3338, targets: 6834, idx: 1 }, 
		{ for: 'Arch Enemy', user: 'archenemy.fan_', stat: 'active', site: 1, suckers: 10393, targets: 5862 }, 
		{ for: 'Avenged Sevenfold', user: 'avengedsevenfold_fans3', stat: 'active', site: 0, suckers: 8867, targets: 4429 }, 
		{ for: 'Avenged Sevenfold', user: 'a7x_fanlove01', stat: 'active', site: 0, suckers: 6429, targets: 6917, idx: 1 }, 
		{ for: 'Bee Gees', user: 'bee_gees__fans', stat: 'active', site: 0, suckers: 89018, targets: 6310 }, 
		{ for: 'Behemoth', user: 'behemoth_lover', stat: 'active', site: 0, suckers: 2883, targets: 6757 }, 
		{ for: 'Billy Idol', user: 'billyidol__love__', stat: 'active', site: 0, suckers: 34105, targets: 5587 }, 
		{ for: 'Black Sabbath', user: 'blacksabbath__fans_', stat: 'active', site: 0, suckers: 37895, targets: 7021 }, 
		{ for: 'Brian May', user: 'brian_may_fan', stat: 'active', site: 0, suckers: 8007, targets: 6203 }, 
		{ for: 'Bruce Springsteen', user: 'springsteen___fans', stat: 'active', site: 0, suckers: 35068, targets: 6208 }, 
		{ for: 'Bob Dylan', user: 'bob_dylan_bigfans', stat: 'active', site: 0, suckers: 9153, targets: 6767 }, 
		{ for: 'Cannibal Corpse', user: 'cannibalcorpse_big_fans', stat: 'active', site: 0, suckers: 4245, targets: 2866 }, 
		{ for: 'Carlos Santana', user: 'carlossantana.fan_', stat: 'active', site: 0, suckers: 116164, targets: 4367 }, 
		{ for: 'Cheetah', user: 'cheetah.ins', stat: 'active', site: 9, suckers: 100735, targets: 6603 }, 
		{ for: 'Children of Bodom', user: 'childrenofbodom_big_fans', stat: 'active', site: 0, suckers: 1732, targets: 4508 }, 
		{ for: 'Chris Cornell', user: 'chris_cornell__fans', stat: 'active', site: 0, suckers: 23561, targets: 6413 }, 
		{ for: 'Coldplay', user: 'coldplay_png', stat: 'active', site: 0, suckers: 102708, targets: 6076 }, 
		{ for: 'Cow', user: 'cow_picture__', stat: 'active', site: 9, suckers: 50986, targets: 4725 }, 
		{ for: 'Danzig', user: 'danzig_fansite_ig', stat: 'active', site: 0, suckers: 3323, targets: 4525 }, 
		{ for: 'Darkthrone', user: 'darkthrone__fans', stat: 'active', site: 0, suckers: 8653	, targets: 6612 }, 
		{ for: 'David Bowie', user: 'david_bowie_fanlove_', stat: 'active', site: 0, suckers: 6072, targets: 5033 }, 
		{ for: 'David Gilmour', user: 'david_gilmour__fans', stat: 'active', site: 0, suckers: 111366, targets: 7080 }, 
		{ for: 'Def Leppard', user: 'def_leppard__fanclub', stat: 'active', site: 0, suckers: 6017, targets: 6649 }, 
		{ for: 'Depeche Mode', user: 'dm.devotees', stat: 'active', site: 6, suckers: 10458, targets: 2186 }, 
		{ for: 'Depeche Mode', user: 'depechemode.4ever', stat: 'active', site: 6, suckers: 36822, targets: 5442, idx: 1 }, 
		{ for: 'Depeche Mode', user: 'depechemode_s2s', stat: 'active', site: 6, suckers: 17450, targets: 6265, idx: 2 }, 
		{ for: 'Destruction', user: 'destruction__fanclub', stat: 'active', site: 0, suckers: 3765, targets: 6642 }, 
		{ for: 'Dinosaur', user: 'dinosaurs.lover__', stat: 'active', site: 9, suckers: 124329, targets: 6204 }, 
		{ for: 'Dolly Parton', user: 'dolly_parton_bigfan', stat: 'active', site: 0, suckers: 25523, targets: 7063 }, 
		{ for: 'Dream Theater', user: 'dreamtheater_fans3', stat: 'active', site: 0, suckers: 8347, targets: 6701 }, 
		{ for: 'Eddie Van Halen', user: 'eddie_van_halen_fan', stat: 'active', site: 0, suckers: 31595, targets: 3927 }, 
		{ for: 'Eddie Vedder', user: 'eddie_vedder_pj', stat: 'active', site: 11, suckers: 8366, targets: 67 }, 
		{ for: 'Eisbrecher', user: 'eisbrecherfan01', stat: 'active', site: 10, suckers: 1800, targets: 5593 }, 
		{ for: 'Elvis Presley', user: 'elvis_presley_fan.club', stat: 'active', site: 0, suckers: 3904, targets: 482 }, 
		{ for: 'Elvis Presley', user: 'elvis_presley___fans', stat: 'active', site: 0, suckers: 177299, targets: 6278, idx: 1 }, 
		{ for: 'Elvis Presley', user: 'elvis__presley_fans', stat: 'paused', site: 11, suckers: 1625, targets: 4338, idx: 2 }, 
		{ for: 'Five Finger Death Punch', user: 'fivefingerdeathpunch_fanpages', stat: 'removed', site: 0, suckers: 22900, targets: 6506 }, 
		{ for: 'Frank Zappa', user: 'frank_zappa_fan', stat: 'active', site: 1, suckers: 25349, targets: 6381 }, 
		{ for: 'Freddie Mercury', user: 'freddiemercury___fans', stat: 'active', site: 0, suckers: 59263, targets: 6471 }, 
		{ for: 'Geddy Lee', user: 'geddy_lee_new', stat: 'active', site: 0, suckers: 23267, targets: 6568 }, 
		{ for: 'George Harrison', user: 'george_harrison__fans', stat: 'active', site: 0, suckers: 22812, targets: 7299 }, 
		{ for: 'Grateful Dead', user: 'grateful_dead_fan_', stat: 'paused', site: 8, suckers: 678, targets: 4409 }, 
		{ for: 'Guns N\' Roses', user: 'gunsnroses_fanclub_official', stat: 'active', site: 4, suckers: 24406, targets: 3172 }, 
		{ for: 'Helloween', user: 'helloween_fanlove01', stat: 'active', site: 0, suckers: 7820, targets: 6462 }, 
		{ for: 'Iggy Pop', user: 'iggypop.love_', stat: 'active', site: 0, suckers: 5750, targets: 6410 }, 
		{ for: 'Iron Maiden', user: 'iron.maiden__loves_', stat: 'active', site: 0, suckers: 19976, targets: 6993 }, 
		{ for: 'Jeff Beck', user: 'jeffbeck.fan', stat: 'active', site: 0, suckers: 6272, targets: 5036 }, 
		{ for: 'Joe Perry', user: 'joeperry_fanspage_ins', stat: 'paused', site: null, suckers: 564, targets: 1505 }, 
		{ for: 'Judas Priest', user: 'judaspriest.fan_', stat: 'active', site: 0, suckers: 36286, targets: 4391 }, 
		{ for: 'Judas Priest', user: 'judaspriestlovers', stat: 'active', site: 0, suckers: 15533, targets: 2755, idx: 1 }, 
		{ for: 'KISS', user: 'kiss_support', stat: 'active', site: 0, suckers: 24260, targets: 6888 }, 
		{ for: 'Kreator', user: 'kreator__fan', stat: 'active', site: 0, suckers: 3023, targets: 6797 }, 
		{ for: 'Labrador Retriever', user: 'labrador__retriever__fans', stat: 'active', site: 9, suckers: 31327, targets: 7407 }, 
		{ for: 'Lamb of God', user: 'lambofgod_fanclub', stat: 'active', site: 0, suckers: 5529, targets: 6199 }, 
		{ for: 'Led Zeppelin', user: 'ledzeppelin.rock.fan', stat: 'active', site: 5, suckers: 6489, targets: 3498 }, 
		{ for: 'Lenny Kravitz', user: 'lenny_kravitz__fans', stat: 'active', site: 0, suckers: 7748, targets: 4905 }, 
		{ for: 'Mastodon', user: 'mastodon__lover', stat: 'active', site: 0, suckers: 2242, targets: 6877 }, 
		{ for: 'Megadeth', user: 'megadeth_fans_ins', stat: 'active', site: 0, suckers: 1089, targets: 2615 }, 
		{ for: 'Motörhead', user: 'motorhead_fanpage', stat: 'active', site: 0, suckers: 19998, targets: 872 }, 
		{ for: 'Motörhead', user: 'motorhead_fanlove01', stat: 'active', site: 0, suckers: 26315, targets: 6361, idx: 1 }, 
		{ for: 'Mötley Crüe', user: 'motleycrue_fans001', stat: 'active', site: 6, suckers: 497, targets: 1 }, 
		{ for: 'Mötley Crüe', user: 'motleycrue_s2_', stat: 'active', site: 0, suckers: 31584, targets: 6657, idx: 1 }, 
		{ for: 'Mr. Bean', user: 'mr_bean__fans', stat: 'active', site: 12, suckers: 2511, targets: 5130 }, 
		{ for: 'Muse', user: 'muse___fans', stat: 'active', site: 0, suckers: 2729, targets: 6205 }, 
		{ for: 'Neil Young', user: 'neil.young.fan', stat: 'active', site: 0, suckers: 14140, targets: 5378 }, 
		{ for: 'Nightwish', user: 'nightwish_love', stat: 'active', site: 0, suckers: 12082, targets: 5834 }, 
		{ for: 'Nightwish', user: 'nightwish__update', stat: 'active', site: 0, suckers: 5931, targets: 6042, idx: 1 }, 
		{ for: 'Octopus', user: 'octopus.gram__', stat: 'active', site: 9, suckers: 35456, targets: 3257 }, 
		{ for: 'Ozzy Osbourne', user: 'ozzyosbourne_fans3', stat: 'active', site: 0, suckers: 36488, targets: 6758 }, 
		{ for: 'Queen', user: 'queen_band_fan.club', stat: 'active', site: 0, suckers: 5550, targets: 250 }, 
		{ for: 'Queen', user: 'queen.__daily', stat: 'active', site: 0, suckers: 36470, targets: 6433, idx: 1 }, 
		{ for: 'Panda', user: 'pandastigram', stat: 'active', site: 13, suckers: 45686, targets: 4323 }, 
		{ for: 'Paul McCartney', user: 'paul__bigfans', stat: 'active', site: 0, suckers: 12844, targets: 6677 }, 
		{ for: 'Radiohead', user: 'radiohead__ins___', stat: 'active', site: 0, suckers: 3028, targets: 5306 }, 
		{ for: 'Rammstein', user: 'rammstein_lovers2s', stat: 'active', site: 1, suckers: 40261, targets: 7037 }, 
		{ for: 'Ramones', user: 'ramones___fans', stat: 'active', site: 0, suckers: 5583, targets: 6295 }, 
		{ for: 'Robert Plant', user: 'robertplant__fans', stat: 'active', site: 0, suckers: 103712, targets: 6456 }, 
		{ for: 'Rod Stewart', user: 'rod_stewart__fans', stat: 'active', site: 0, suckers: 126470, targets: 6421 }, 
		{ for: 'Scorpions', user: 'scorpions_fan01', stat: 'active', site: 0, suckers: 27348, targets: 6614 }, 
		{ for: 'Sepultura', user: 'sepultura_fanlove01', stat: 'active', site: 0, suckers: 9147, targets: 6546 }, 
		{ for: 'Slash', user: 'slash__fans', stat: 'active', site: 0, suckers: 87743, targets: 6806 }, 
		{ for: 'Slayer', user: 'slayer_fanpages2s', stat: 'paused', site: null, suckers: 2805, targets: 5360 }, 
		{ for: 'Slayer', user: 'slayer_lover2_zzzz', stat: 'active', site: 0, suckers: 12275, targets: 6693, idx: 1 }, 
		{ for: 'Slipknot', user: 'slipknot_fan01', stat: 'active', site: 0, suckers: 36907, targets: 6238 }, 
		{ for: 'Steven Tyler', user: 'steven__tyler_fanpage__', stat: 'active', site: 0, suckers: 199193, targets: 6750 }, 
		{ for: 'Testament', user: 'testament_fans_lover', stat: 'active', site: 0, suckers: 4275, targets: 4292 }, 
		{ for: 'The Cure', user: 'the_cure__fan', stat: 'active', site: 0, suckers: 5409, targets: 6319 }, 
		{ for: 'The Godfather', user: 'the_godfather__fans', stat: 'paused', site: 8, suckers: 526, targets: 2603 }, 
		{ for: 'The Rolling Stones', user: 'the_rollingstonesfans', stat: 'active', site: 7, suckers: 14066, targets: 6139 }, 
		{ for: 'Tina Turner', user: 'tina_turner_big_fan', stat: 'active', site: 0, suckers: 29167, targets: 4058 }, 
		{ for: 'Tobias Sammet', user: 'tobias_sammet__fans', stat: 'active', site: 0, suckers: 3195, targets: 6284 }, 
		{ for: 'Tom Morello', user: 'tom_morello__fans', stat: 'active', site: 0, suckers: 31747, targets: 6230 }, 
		{ for: 'Tony Iommi', user: 'tony_iommi__ins', stat: 'active', site: 0, suckers: 17333, targets: 3557 }, 
		{ for: 'Twisted Sister', user: 'twistedsister_s2s', stat: 'active', site: 0, suckers: 8101, targets: 6902 }, 
		{ for: 'U2', user: 'u2_over_', stat: 'active', site: 0, suckers: 30064, targets: 6317 }, 
		{ for: 'Volbeat', user: 'volbeat.familie', stat: 'active', site: 10, suckers: 2945, targets: 5096 }, 
		{ for: 'Whitesnake', user: 'whitesnake_fanlove', stat: 'paused', site: 8, suckers: 4024, targets: 3877 }, 
		{ for: 'Whitesnake', user: 'whitesnake_fanlove01', stat: 'active', site: 0, suckers: 18944, targets: 5898, idx: 1 }, 
		{ for: 'Wolf', user: 'wolf__bigfan', stat: 'active', site: 9, suckers: 50026, targets: 3190 }, 
		{ for: 'ZZ Top', user: 'zztop_daily', stat: 'active', site: 0, suckers: 183604, targets: 6030 }, 
		{ for: 'ZZ Top', user: 'zztop.fansite', stat: 'active', site: 0, suckers: 42551, targets: 2287, idx: 1 }
	];
- var n_cunt = cunt_data.length;

doctype html
html(lang="en")
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		title
		link(rel="stylesheet" href="/css/main.css")

	body
		header
			h1 Extensive scam network disguised as seemingly unrelated "fan" accounts
			span (a July 2022 investigation and report by meddling fangirls)
		
		main
			div #{n_cunt}

		footer
			p Made with ❤️ in 🇪🇺.
			p We don't track you!
