extends /templ/_page.pug

block title
	title How to spot scams: fan or "fan" | #{s}

block header
	h1 On social media: fan or "fan"?

block content
  p Here are some signs that something's fishy with the fan account you just encountered.
  
  p They 
		b sell stuff
		| . Major red flag, right off the bat. If they advertise, either in the posts or in the bio, that they're selling anything on a regular basis, red alert, red alert, red alert!

  p Their 
		b links are passed through URL shorteners
		| . There may be legitimate reasons for that, but if you see a zshorten.com, bit.ly, rebrand.ly, tinyurl.com, bl.ink URL in the bio or elsewhere, proceed with caution.

  p They 
		b don't know much about the band and the music
		| . Not everybody has a great memory, everyone makes mistakes, the account may be run by a kid somewhere who doesn't really know any English... but, in general, when whoever is running the account is clueless about the existence of a recent release, major red flag!

  p They 
		b follow thousands of accounts
		| . This is a way to quickly get lots of followers in return.

  p They 
		b don't post anything you can't find anywhere else
		| . This may be a tough one for the casual fan, though I guess you could pass photos (especially band photos) through a reverse search service like TinEye. But for hardcore fans, if you don't see anything you haven't seen anywhere else, it's a red flag. Somebody who cares enough to maintain a fan account is also going to be digging pretty regularly for new interviews, new recordings from shows and so on. Or at least asking other fans to send cool stuff if they can. Or posting something from their own personal collection.
